@use '../helpers' as *;


.button {

    &--field {
        padding: rem(3);
        font-weight: 500;
        background-color: transparent;

        @include hover {
            border-bottom: rem(1) solid var(--color-primary);
            color: var(--color-primary);
        }
    }

    &--card {
        padding: rem(12) rem(52);
        border: none;
        background-color: var(--color-light);
        color: var(--color-primary);
        font-weight: 600;
        font-size: rem(16);
        line-height: 1.5;

        @include hover {
            box-shadow: rem(0) rem(0) rem(10) var(--color-primary);
        }

        @include tablet {
        border: rem(1) solid var(--color-primary);
        }
    }

    &--orange {
        background-color: var(--color-primary);
        color: var(--color-light);
        font-weight: 600;
        font-size: rem(16);
        line-height: 1.5;

        @include hover {
            opacity: 0.8;
        }
    }

    &--next {
        right: 5%;

        @include mobile {
            right: 0;
        }
    }

    &--prev {
        &.hide {
            opacity: 0;
            left: -10%;
        }
        &.show {
            opacity: 1;
            left: 0%;
        }
    }
}