@use '../helpers' as *;

.field {

    &__footer {
        display: flex;
        align-items: start;
        justify-content: center;
        column-gap: rem(10);

        @include tablet {
            justify-content: start;
        }

        &-control,
        &-button {
            border: none;
            border-bottom: rem(1) solid var(--color-dark);      
            font-size: rem(14);      
        }

        &-control {
            padding: rem(3);
            color: var(--color-light-gray-2);
            font-weight: 400;

            &::placeholder {
            color: var(--color-light-gray-2);
            font-weight: 400;

            }
        }
    }
}