@use '../helpers' as *;


.card {
    &__inner {
        background-color: var(--color-primary-light);
        border-radius: rem(10);
        padding: rem(40);
        max-width: rem(643);

        @include laptop {
            max-width: rem(543);
        }

        @include tablet {
            max-width: rem(811);
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: rem(16);
        letter-spacing: 0.19rem;
    }
    
    &__title {
        color: var(--color-primary);
        padding-top: rem(4);
        padding-bottom: rem(17);

          @include tablet {
            padding-bottom: rem(12);
        }
    }

    &__description {
        line-height: 1.33;
        padding-bottom: rem(46);

        @include tablet {
            padding-bottom: rem(24);
        }
    }

    &__button {
        font-weight: 700;
        text-transform: uppercase;
        padding: rem(25) rem(72);

        @include mobile {
            padding: rem(25);
        }
    }
}