@use '../helpers' as *;

.section {

    &__range {
        padding-block: rem(60);
    }

    &__inspiration,
    &__product {
        padding-bottom: rem(60);
    }

    &__inspiration {
        background-color: var(--color-primary-light-2);
    }

    &__furniture {
        padding-top: rem(60);
        padding-bottom: rem(50);
    }

    &__error {
        padding-block: rem(50);
        background-color: var(--color-primary-light);
    }
}