@use "./helpers/" as *;

:root {

    --color-light: #FFFFFF;
    --color-dark: #000;
    --color-dark-card: #3a3a3a;
    --color-dark-light: #333;

    --color-gray: #666;
    --color-gray-2: #616161 ;
    --color-gray-3: #d8d8d8;
    --color-gray-4: #d9d9d9;
    --color-gray-card: #898989;
    --color-light-gray: #b0b0b0;
    --color-light-gray-2: #9f9f9f;
    --color-light-gray-3:  #f4f5f7;

    --color-light-red: #e97171;
    --color-light-green: #2ec1ac;
    --color-primary: #B88E2F;
    --color-primary-light: #fff3e3 ;
    --color-primary-light-2: #fcf8f3;
    --container-width: #{rem(1236)};
    --container-padding-x: #{rem(24)};

    --transition-duration: 0.2s;

    --font-family-base: 'Poppins' , sans-serif;
}